body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #85929E;
}

.quem-somos{
    background-color: #D6DBDF;
    color: #85929E;
}

.margin{
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #85929E;
    color: #D6DBDF;
}

.servicos{
    background-color: #D6DBDF;
    color: #85929E;
}

.bg-footer{
    background-color: #85929E;
    color: #D6DBDF;
}